[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=hn-indicator
Comment=A panel indicator for viewing the latest Hacker News feed.
Exec=application
Icon=hackernews.png
Terminal=false
