Source: hn-indicator
Section: gnome
Priority: optional
Maintainer: Mayank Saxena <mayank26saxena@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/~mayank26saxena/+archive/ubuntu/hn-indicator

Package: hn-indicator
Architecture: any
Depends: ${python:Depends}
Description: Hacker News Indicator.
